.main-page{
    margin-bottom: 5rem;

    h2{
        margin: 7rem 0 5rem 0;

    }
    .row-page{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width:767px) {
            justify-content:space-around;
        }

    .row-page_img{
        width: 40%;
        position: relative;
        @media (max-width:991px) {
            width: 30%;
            display: block;
        }
        @media (max-width:767px) {
            width: 100%;
            display: block;
        }


        img{
            display: block;
           max-width: 100%;
           margin:0 auto;
           -webkit-box-shadow: 0 0 10px rgba(12, 78, 118, .3);
               -moz-box-shadow: 0 0 10px rgba(12, 78, 118, .3);
               box-shadow: 0 0 10px rgba(12, 78, 118, .3);
           @media (max-width:1199px) {
               margin-left: 0;
           }
           @media (max-width:991px) {
               width: 100%;
               max-width:unset;
           }
           @media (max-width:767px) {
               width: unset;
               max-width:100%;
               margin: 0 auto;
               -webkit-box-shadow: 10px 10px 10px rgba(12, 78, 118, .3);
               -moz-box-shadow: 10px 10px 10px rgba(12, 78, 118, .3);
               box-shadow: 10px 10px 10px rgba(12, 78, 118, .3);
           }
        }

    }

    .row-page_content{
        width:calc(60% - 35px);
        font-family: 'Comfortaa';
        padding-top: 0;

         @media (max-width:991px) {
            width:calc(70% - 35px);
            padding-top: 0;
        }
         @media (max-width:767px) {
            width:100%;
            margin-top: 3rem;
        }
        p{
           margin-bottom: 15px;
           font-size: 18px;
           @media (max-width:405px) {
            font-size: 16px;
            margin-bottom: 20px;
        }
        }
    }
}


}


