.advantages{
    min-height: 363px;
    background: url(../img/ba.jpg)no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 3rem;
    h2{
        color:#fff;
        margin-bottom: 3rem;
    }
    .advents{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 20px;
        .advents_item{
            display: flex;
            flex-direction: column;
            align-items: center;
                .item_img{
                    width: 100px;
                    img{
                        width: 100%;
                    }
                }
                .name{
                    color:#fff;
                   font-family: 'Proxima Nova Condensed Bold';
                    font-size: 20px;
                    text-align: center;
                    margin-top: 2rem;
                }
        }
    }
}
/*====================================media*/
@media (max-width: 991px) {
    .advantages{

    .advents{
        .advents_item{
                .item_img{
                    width: 100px;
                    img{
                        width: 100%;
                    }
                }
                .name{
                  font-size: 16px;
                }
        }
    }
}
}
@media (max-width: 767px) {
    .advantages{
     padding-bottom: 3rem;
    .advents{
         grid-template-columns: repeat(1,1fr);
        grid-column-gap:0;
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 3rem;
        .advents_item{
                .item_img{
                    width: 100px;
                    img{
                        width: 100%;
                    }
                }
                .name{
                  font-size: 16px;
                }
        }
    }
}
}
