.list_blog{
    width: 100%;
    margin:3rem 0;
    .list-view{
        padding-top: 0;
    }
    .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 2rem;
        padding: 1rem 0;
        border-bottom: 1px dashed rgba(12, 78, 118,.5);
        transition:all .5s;
        position: relative;
        z-index: 100;
        overflow: hidden;
        &:last-child{
            margin-bottom: 0;
            border-bottom: 0;
        }

        &.hover{
            border-bottom: 1px solid $topfooter;
        .item_img{
            border: 1px solid transparentize($topfooter,.8);
             transition: all .5s;
            &:before{
                opacity: .4;
            }
        }
         &:last-child{
             border-bottom: 0;
        }
.content_wrap{
    .short_text{
                color:#000;
            }
}
        }
        width: 100%;
         .content_wrap{
            width: calc(100% - 200px - 20px);
            transition: all .5s;
            display: flex;
            flex-direction: column;
            .item_title{
                 font-family: 'GothamPro-Bold';
                 color: $topfooter;
                 font-size: 20px;
                 line-height: 1;
                 margin-bottom: 1.5rem;
            }
            .short_text{
                color:#616161;
            }
         }
         .item_img{
           position: relative;
           transition: all .5s;
           max-height: 132px;
           overflow: hidden;
           border: 1px solid transparent;
           // &::before{
           //  content:"";
           //  position: absolute;
           //  width: 50px;
           //  height: 50px;
           //  left: 50%;
           //  top: 50%;
           //  padding: 1rem;
           //  border-radius: 50%;
           //  transform:translate(-50%,-50%);
           //  background:rgba(8, 55, 83,.7) url('../img/link.svg') center center no-repeat;
           //  background-size: 30px;
           //  transition: all .5s;
           // }
         }
         .detail{
            margin-top: auto;
            color:$top;
            margin-left: auto;
         }
    }
}

.summary{
    color: #ccc;
    font-family: 'GothamPro-Light';
    font-size: 80%;
}


/*============================================*/

@media (max-width: 480px) {
    .list_blog{
        .item{
           .item_img{
            width: 100%;
            margin-bottom: 1.5rem;
            img{
                display: block;
                margin:0 auto;
            }
           }
           .content_wrap{
             width: 100%;
             align-items: center;
             .detail{
                margin-left: 0;
             }
             .item_title{
                text-align: center;
             }
             .short_text{
                text-align: center;
             }
           }
           &.hover{
            .item_img{
                border: 1px solid transparent;
            }
           }
       }
    }
}