.comand-page{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	@media (max-width:767px) {
		justify-content:space-around;
	}
	.comand_img{
		width: 285px;
		@media (max-width:767px) {
			width: 100%;
		}
		img{
			width: 100%;
			@media (max-width:767px) {
				width:unset;
				max-width:100%;
				display: block;
				margin: 0 auto;
			}
		}
	}
	.comand_content{
		width: calc(100% - 285px - 35px);
		font-size: 16px;
		@media (max-width:767px) {
			width: 100%;
			margin-top: 3rem;
		}
	}
}
.sertificate-single{
	background:#f8f8f8;
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 40px;
	.container{
		&::before,&::after{
			display: none;
		}
	}
	h2{
		margin-top: 0;
		margin-bottom: 30px;
	}
}
.w-sertificate{
	margin-right: -20px;
	.slick-next{
	background: url(../img/next.svg) no-repeat center;
    right: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    background-size: 30px;
    opacity: 1;
	}
	.slick-prev{
	background: url(../img/back.svg) no-repeat center;
    left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.5);
    background-size: 30px;
    opacity: 1;
	}
}
.w-sertificate__item{
	margin-right: 20px;
	position: relative;
		&:hover{
			span{
				opacity: 1;
			}
			}
	span{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		font-size: 40px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform:translate(-50%,-50%);
		color: #333;
		font-weight: 900;
		opacity: .5;
		transition:all .4s;
	}
	img{
		width: 100%;
	}
}


/*widget*/
.team{
	margin: 7rem 0 5rem 0;
	h2{
		margin-bottom: 5rem;
	}

	.slick-prev{
		background: url(../img/back.svg) no-repeat center;
		left: 5px;
		width: 40px;
		height: 40px;
		border-radius:50%;
		background-color: rgba(255,255,255,.5);
		-webkit-background-size: 30px;
		background-size: 30px;
		opacity: 1;

		&:hover{
			opacity:.5;
		}
	}
	.slick-list{
		.slick-track{
			display: flex !important;
			.list_item{
				display: flex !important;
				flex-direction: column;
				height: auto !important;
			}
		}
	}
	.slick-next{
		background: url(../img/next.svg) no-repeat center;
		right: 5px;
		width: 40px;
		height: 40px;
		border-radius:50%;
		background-color: rgba(255,255,255,.5);
		-webkit-background-size: 30px;
		background-size: 30px;
		opacity: 1;
		&:hover{
			opacity:.5;
		}
	}
	.list_item{
		padding: 0 2px;
		.list_item_img{
			img{
				display: block;
				margin: 0 auto;
				width: 100%;
			}
		}
		.wrap{
			border:1px dashed #ced7dd;
			border-top: 0;
			padding-top: 20px;
			height: 100%;
			.list_item_title{
				font-family: 'Proxima Nova Condensed Bold';
				font-size: 16px;
				margin: 0 0 10px 0;
				padding-left: 10%;
				@media (max-width:991px) {
					min-height:47.5px;
				}
				@media (max-width:479px) {
					min-height:unset;
				}

			}
			.list_item_desc{
				min-height:40px;
				display: flex;
				justify-content:center;

				span{
					width: 80%;
				}
			}
			.list_link{
				@extend .list_item_desc;
				margin-top: 10px;
				a{
					width: 80%;
					color: #7d7d7d;
					&:hover{
						color:$menu;
					}
					i{
						opacity: .5;
						font-size: 12px;
					}
				}
			}
		}
	}
	.slick-dots{
		li{
			background: $menu;
			&.slick-active{
				background: $span;
			}
		}
	}

	.page-button{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 7rem;
		a{
			background: $buttons;
			color:#fff;
			padding:10px 45px;
			border-radius: 5px;
		}
	}
}

/*comand page*/
.team_box{
	margin-top: 3rem;
	margin-bottom: 3rem;
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap:3rem;
	grid-row-gap: 3rem;
	.team_item{
		padding: 1rem;
		box-shadow: 0 0 7px rgba(0, 0, 0,.2);
		.team_item_img{
			position: relative;
			height: 430px;
			overflow: hidden;
			&::before{
				content:"";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				box-shadow: inset 0 0 30px rgba(0,0,0,.1);
				z-index: 100;
			}
			img{
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform:translate(-50%,-50%);
				width: 100%;
				height: auto;
			}
		}
		.wrap{
			.team_item_title{
				font-family: 'Proxima Nova Condensed Bold';
				font-size: 20px;
				text-align: center;
				color: #232323;
				margin:15px 0 5px 0;
				padding-top: 5px;
				border-top: 1px solid #ccc;
			}
			.team_item_desc{
				text-align: center;
				color: #616161;
			}
			.team_link{
				margin-top: 15px;
				color:#0C4E76;
				font-size: 14px;
				display: flex;
				justify-content: center;
			}
		}
	}
}

@media (max-width:1199px ) {
	.team_box{
		.team_item{
			.team_item_img{
				position: relative;
				height: 343px;
				overflow: hidden;
				img{
					width: auto;
					height: 100%;
				}
			}
			.wrap{
				.team_item_title{
					height: 63px;
					line-height: 1.3;
				}
			}
		}
	}
}

@media (max-width:991px ) {
	.team_box{
		grid-template-columns: repeat(2,1fr);
		.team_item{
			.team_item_img{
				img{
					width: 100%;
					height: auto;
				}
			}
			.wrap{
				.team_item_title{
					height: 63px;
					line-height: 1.3;
				}
			}
		}
	}
}

@media (max-width:767px ) {
	.team_box{
		.team_item{
			.team_item_img{
				height: auto;
				img{
					position: static;
					width: 100%;
					height: auto;
					transform:unset;
				}
			}

		}
	}
}
@media (max-width:575px ) {
	.team_box{
		grid-template-columns: repeat(1,260px);
		justify-content: center;
	}
}


.photo--gradient {
	background-image: linear-gradient(to top, #ededed 0%, #fff 90%);
}

.team-slider {
	padding-top: 9rem;
	padding-bottom: 9rem;
	.slick-slide{
		&:focus{
			outline: none;
		}

	}
	.slick-next{
		&:after{
			content: '\f054';
			font-family: 'FontAwesome';
			font-size: 20px;
			font-weight: bold;
			color: #0c4e76;
		}
		@media(max-width: 1331px){
			right: 10px;
			background-color: #fff;
			opacity: 0.5;
		}

	}
	.slick-prev{
		&:after{
			content: '\f053';
			font-family: 'FontAwesome';
			font-size: 20px;
			font-weight: bold;
			color: #0c4e76;
		}
		@media(max-width: 1331px){
			left: 10px;
			background-color: #fff;
			opacity: 0.5;
		}
	}
	&_item {
		text-align: center;

	}
	&_img-name {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba(#000, .3);
		font-size: 14px;
		padding: .4rem;
		color: #fff;
		z-index: 5;
		display: block;
		text-align: center;
		width: 100%;
	}

	.slick-list {
		padding-top: 9rem !important;
		padding-bottom: 9rem !important;
	}
	.slick-current + .slick-active + .slick-active {
		transition: all .25s;
		transform: scale(1.69) !important;
		z-index: 2;
		position: relative;
	}
	.slick-current + .slick-active {
		transition: all .25s;
		transform: scale(1.295) !important;
		position: relative;
		z-index: 1;
	}
	.slick-current + .slick-active + .slick-active + .slick-active {
		transition: all .25s;
		transform: scale(1.295) !important;
		position: relative;
		z-index: 1;
	}
}

.js-photo-slider-vip {
	.arrow-slide {
		background-image: url('../../assets/images/icon/vip-slider.png');
	}
	.arrow-right-slide {
		transform: rotate(0);
	}
	.arrow-left-slide {
		transform: rotate(180deg);
	}
	.photo_slider-wrapp {
		border-radius: 0;
		img {
			border-radius: 0;
		}
	}
	.slick-current + .slick-active {
		transition: all .25s;
		transform: scale(1.69) !important;
		z-index: 2;
		position: relative;
	}
	.slick-current {
		transition: all .25s;
		transform: scale(1.295) !important;
		position: relative;
		z-index: 1;
}
.slick-current + .slick-active + .slick-active {
	transition: all .25s;
	transform: scale(1.295) !important;
	position: relative;
	z-index: 1;
}
}

.vip-photo-classes {
	padding-bottom: 2rem;
	padding-top: 5rem;
	.photo-vip_text {
		text-align: center;
		margin-top: 1rem;
	}
	.photo-vip_title {
		font-size: 2.6rem;
		font-weight: 600;
	}
	.photo-vip_desc {
		font-size: 1.8rem;
		margin-top: .7rem;
	}
}