$top:#083753;
$buttons:#204a64;
$topfooter:#083753;
$footer:#041e2e;
$menu:#0c4e76;
$span:#19b2da;
h1,h2{
    font-size: 41px;
    font-family: 'Proxima Nova Condensed Bold';
    text-transform: uppercase;
}
h3{
    margin-top: 10px;
}
.rev_text{
    line-height: 1.3;
}
.fa-chevron-down{
    color: #0e688d;
    font-size:80% ;
    position: relative;
    top: -10%;
}
a:hover,a:focus,a:active{
    text-decoration: none;
}

a,input{
    // font-family: 'Comfortaa';
    letter-spacing: 1px;
}

.file-upload input[type="file"]{
    display: none;
}

.form-control:focus{
    border-color: unset;
}


.adresses,.callbacks,{
    font-family: 'Comfortaa';
    font-weight: 300;
}

body,html{
    height: 100%;
    min-width: 280px;

}
.wrapper {
  max-width: 1920px;
  min-width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    background: $topfooter;
    }
  }


.terms_of_use{
  color:#ccc;
  font-size: 12px;
}

.actions_box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-top: 3rem;
  padding: 1rem;
  min-height: 150px;
  border: 3px double rgba(12, 78, 118,.5);

  p{
    width: 508px;
    margin-bottom: 2rem;
    @media (max-width: 575px) {
     width: 100%;
    }
    strong{
      display: block;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.service-content{
  p{
    font-family: 'Proxima Nova Cn Rg';
    font-size: 16px;
  }

.btn-z{
  display: flex;
  margin-top: 3rem;
  a{
  display: flex;
  justify-content: center;
  align-items: center;
  background:$top;
  width: 225px;
  color:#fff!important;
  height: 50px;
  box-shadow: inset 2px 2px 5px rgba(255,255,255,.2);
  border-radius: 5px;
  transition:all .2s;
  &:hover{
    font-size: 95%;
   box-shadow: inset 0 0 5px rgba(0,0,0,.8),0 0 15px rgba(0,0,0, .2);
   text-shadow: 0 0 3px rgba(0,0,0,.7);

  }
  }
}
.short_description{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
  .thumb{
    width: 225px;
    overflow: hidden;
    img{
      width: 100%;
    }
    @media (max-width: 650px) {
      display: none;
    }
  }
p{
  width: calc(100% - 225px - 20px);
   @media (max-width: 650px) {
      width: 100%;
    }
}
}
}

@media (max-width: 480px) {
  h1{
    font-size: 25px!important;
  }
  h2{
    font-size: 25px!important;
  }
}