.contacts{
   background: #F8F8F8;
   min-height: 353px;
   margin-top: 12rem;
   padding-top: 3rem;
   padding-bottom: 3rem;
   @media (max-width:711px) {
                    padding-bottom: 3rem;
                }

   .row-flex{
       display: flex;
       flex-wrap: wrap;
       position: relative;
       @media (max-width:767px) {
           justify-content:space-around;
       }
       h2{
    color:#0C4E76;
    width: 60%;
    text-transform: none;
    @media (max-width: 767px) {
      margin-left: 0;
    }
    @media (max-width:650px) {
        width: 95%;
    }
    @media (max-width:302px) {
       font-size: 30px;
    }
   }
       .inputs-wrap{
           
           width: 51%;
           display: flex;
           justify-content: space-between;
           flex-wrap: wrap;
           margin-bottom: 25px;
           z-index: 1000;
           @media(max-width: 991px){
              width: 60%;
           }
           .help-block.error{
               color:#f1f1f1;
               position: absolute;
           }
           @media (max-width:991px) {
                    justify-content: space-around;
                }
                @media (max-width:767px) {
                            margin-left: 0;
                        }
                @media (max-width:650px) {
                            width: 95%;
                        }
           .col-form{
               width: 48%;
               height: 45px;
                @media (max-width:991px) {
                    width: 100%;
                    margin-bottom: 25px;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
               input{
                   width: 100%;
                   height: 45px;
                   border: 1px solid #B2BAC6;
                   background: #fff;
                   border-radius: unset;
                   &::placeholder{
                       font-family: 'Comfortaa';
                   }

               }
               label{
                   display: none;
               }
           }
       }
       .txt-wrap{
           width: 51%;
           z-index: 1000;
           @media(max-width: 991px){
              width: 60%;
           }
                    @media (max-width:767px) {
                        margin-left: 0;
                    }
                    @media (max-width:650px) {
                            width: 95%;
                        }
           .txtar{
               margin-bottom: 25px;
           label{
                   display: none;

               }
               textarea{
                   width: 100%;
                   height: 80px;
                   border: 1px solid #B2BAC6;
                   background: #fff;
                   border-radius: unset;
                    &::placeholder{
                       font-family: 'Comfortaa';
                   }

               }
           }

       }
       .sub_btn{
           margin-top: 25px;
           display: flex;
           justify-content: space-between;
           align-items: center;
           @media(max-width: 500px){
              display: block;
           }
           input{
               background: #13699c;
               padding: 10px 50px;
               color:#fff;
               border-radius: 5px;
               margin-right: 20px;
             @media(max-width: 500px){
                margin-top: 20px;
             }
           }
       }
       .dflex{
           width: 80%;
           .help-block.error{
               color:#fff;
               position: absolute;
           }
       }

       .success-message{
           position: absolute;
           top: 0;
           transform: translateX(-50%);
           left: 50%;
           width: 40%;
           height: 150px;
           text-align: center;
           background: #fff;
           color: $top;
           transition: all 0.5s ease 0s;
       }
       .gurle{
          position: absolute;
          background: url('../img/blog/contact-phone.png')no-repeat right bottom;
          width: 570px;
          height: 452px;
          -webkit-background-size: cover;
          background-size: contain;
          bottom: -66px;
          right: 0;
          z-index: 1;
    @media (max-width:991px) {
        width: 550px;
        height: 450px;
        bottom: -65px;
    }
     @media (max-width:767px) {
        display: none;
    }
    // @media (max-width: 711px) {
    //   bottom: -3rem;
    // }
    //  @media (max-width:650px) {
    //     display: none;
    // }
}

.g-recaptcha{
     @media (max-width:350px) {
        transform:scale(.8) translateX(-30px);
    }
}
   }

}

/*Modals*/

.form-captcha{
    margin-bottom: 20px;
}

.modal-dialog{
    border-radius: 0;
    border:4px solid $menu;
    .modal-content{
      border-radius: 0;
      .modal-header{
          color:$menu;
          font-family: 'Proxima Nova Condensed Bold';
      }
      .modal-body{
          input{
             height: 45px;

             &::placeholder{
                 font-family: 'Comfortaa';
                 color:rgba(14, 104, 141,.5);
             }
          }
          label{
              color:$menu;
              font-family: 'Comfortaa';
          }
          .form-bot{
              margin-bottom: 10px;
              input{
                  background: $buttons;
                  color:#fff;
                  border:none;
                  padding: 10px 30px;
                  border-radius:5px;
              }
          }
          .CallbackServicesFormModal_services{
             width: 70%;
             height: 45px;

          }
      }
    }
}

