
@font-face {
	font-family: 'GothamPro-BoldItalic';
	src: url('../fonts/GothamPro-BoldItalic.eot');
	src: local('../fonts/Gotham Pro Bold Italic'), local('../fonts/GothamPro-BoldItalic'),
		url('../fonts/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-BoldItalic.woff') format('woff'),
		url('../fonts/GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;

}

@font-face {
	font-family: 'GothamPro-Italic';
	src: url('../fonts/GothamPro-Italic.eot');
	src: local('../fonts/Gotham Pro Italic'), local('../fonts/GothamPro-Italic'),
		url('../fonts/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Italic.woff') format('woff'),
		url('../fonts/GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GothamPro-Medium';
	src: url('../fonts/GothamPro-Medium.eot');
	src: local('../fonts/Gotham Pro Medium'), local('../fonts/GothamPro-Medium'),
		url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Medium.woff') format('woff'),
		url('../fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}



@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro-Bold.eot');
	src: local('../fonts/Gotham Pro Bold'), local('../fonts/GothamPro-Bold'),
		url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Bold.woff') format('woff'),
		url('../fonts/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}





@font-face {
	font-family: 'GothamPro-LightItalic';
	src: url('../fonts/GothamPro-LightItalic.eot');
	src: local('../fonts/Gotham Pro Light Italic'), local('../fonts/GothamPro-LightItalic'),
		url('../fonts/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-LightItalic.woff') format('woff'),
		url('../fonts/GothamPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GothamPro-Light';
	src: url('../fonts/GothamPro-Light.eot');
	src: local('../fonts/Gotham Pro Light'), local('../fonts/GothamPro-Light'),
		url('../fonts/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Light.woff') format('woff'),
		url('../fonts/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Gotham Pro';
	src: url('../fonts/GothamPro.eot');
	src: local('../fonts/GothamPro'), local('../fonts/Gotham Pro')
		url('../fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Proxima Nova Condensed Bold';
	src: url('../fonts/ProximaNovaCond-Bold.eot');
	src: local('../fonts/Proxima Nova Condensed Bold'), local('../fonts/ProximaNovaCond-Bold'),
		url('../fonts/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-Bold.woff') format('woff'),
		url('../fonts/ProximaNovaCond-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('../fonts/ProximaNovaCond-Regular.eot');
	src: local('../fonts/Proxima Nova Condensed Regular'), local('../fonts/ProximaNovaCond-Regular'),
		url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
		url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa.eot');
	src: local('../fonts/Comfortaa'),
		url('../fonts/Comfortaa.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Comfortaa.woff') format('woff'),
		url('../fonts/Comfortaa.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa bold';
	src: url('Comfortaa-Bold.eot');
	src: local('../fonts/Comfortaa Bold'), local('../fonts/Comfortaa-Bold'),
		url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Comfortaa-Bold.woff') format('woff'),
		url('../fonts/Comfortaa-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa Light';
	src: url('../fonts/Comfortaa-Light.eot');
	src: local('../fonts/Comfortaa Light'), local('../fonts/Comfortaa-Light'),
		url('Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
		url('Comfortaa-Light.woff') format('woff'),
		url('Comfortaa-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

