.footer{
    height: 155px;
     @media (max-width:991px) {
                height: auto;

     }
    .footer_flex{
        height: 155px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content:space-around;
        padding-top: 35px;
           @media (max-width:991px) {
                height: auto;
                padding-bottom: 35px;
          }
             @media (max-width:612px) {
               padding-top: 20px;
              }

        .foot_brand{
            width: 18%;
            @media (max-width:1199px) {
               width: 15%;
            }
             @media (max-width:991px) {
                width: 25%;
             align-self:center;
             }
             @media (max-width:612px) {
               width: 100%;
               margin-bottom: 15px;
               border-bottom: 1px dotted #fff;
               padding-bottom: 10px;

             }


            a{
                width: 100%;
                display: block;
                @media (max-width:1199px) {
               height: 100%;
            }
             @media (max-width:612px) {
               width: 150px;
               margin:0 auto;

             }
                img{
                    width: 100%;

                }
            }
        }

        .foot_links{
            width: auto;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-top: 5px;
            @media (max-width:1199px) {

                padding-top: 0;
            }
             @media (max-width:991px) {
                 width: 65%;
            }
             @media (max-width:612px) {
               width: 100%;
               border-bottom: 1px dotted #fff;
             }
            #menu_footer{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
               justify-content: space-between;
               padding-left: 0;
                list-style:none;
                 @media (max-width:612px) {
               justify-content:space-around;
             }
                 @media (max-width:401px) {
               flex-direction: column;
               align-items: center;
             }
                .li_wrap{
                   &:nth-child(2){
                    margin-right: 70px;
                    margin-left: 70px;
                    @media (max-width: 1199px) {
                        margin-right: 40px;
                        margin-left: 40px;
                    }
                    @media (max-width: 401px) {
                        margin-right: 0;
                        margin-left: 0;
                    }
                   }
                      @media (max-width:401px) {
                       width: 124px;
                       margin-bottom: 20px;

                       &:nth-child(3){
                        margin-bottom: 0;
                       }
                     }
                    li{
                        margin-bottom: 10px;
                        &:last-child{
                            margin-bottom: 0;
                        }

                        a{
                        color:#fff;
                        font-size: 16px;
                    }
                      @media (max-width:480px) {
/*                         text-align: center;*/
                         padding-left: 5px;

                        }

                    }

                }
            }
        }

        .foot_info{
            width: auto;
            display: flex;
            flex-wrap: wrap;
            padding-top: 5px;
             @media (max-width:1199px) {

                padding-top: 0;
            }
             @media (max-width:991px) {
                width: 100%;
                margin-top: 20px;
                }
            .info_item{
                width: auto;
                 @media (max-width:991px) {
                display: flex;
                flex-wrap:wrap;
                justify-content: space-between;
                width: 100%;
                }
                   @media (max-width:650px) {
                        flex-direction: column;
                        align-items: center;
                    }

                .wr_item{
                    color:#fff;
                    font-size: 16px;
                    font-family: 'Camfortaa';
                     @media (max-width:1199px) {
                        font-size: 15px;
                    }
                     @media (max-width:650px) {
                     width: 222px;
                    }

                          i{
                          color:$span;
                          margin-right: 5px;
                      }
                    a{
                      color:#fff;
                      display: inline-block;
                      border-bottom: 1px dashed #fff;
                      &:hover{
                          color:$span;
                          border-bottom: 1px dashed $span;
                      }
                        &.mail{
                      margin-top: 15px;
                      margin-bottom: 15px;
                      border-bottom: 1px solid transparent;
                      @media (max-width:991px){
                        margin-top: 0;
                        margin-bottom: 0;
                      }
                      @media (max-width:650px){
                        margin-top: 15px;
                        margin-bottom: 15px;
                      }

                    }
                    &.tel{
                      border-bottom: 0;
                    }
                    }

                }
            }
        }
    }
}

/*подвал*/
.footer-bottom{
    padding: 20px 0;
    background: $footer;
    .copy-footer{
        width: 100%;
        display: flex;
        justify-content:space-between;
        flex-wrap:wrap;
        padding: 0 15px;
        @media (max-width:480px) {
                justify-content:center;
             }
        .copyright{
            color: #fff;
            opacity: .5;

            @media (max-width:650px) {
                order:-2;
                width:auto;
             }
            @media (max-width:480px) {
                width: 100%;
                padding-left: 0;
                text-align: center;

            }
        }
        .social{
           color: #fff;
           opacity: .5;
          .links{
            display: flex;
            justify-content:center;
            @media (max-width:650px) {
                width: 60px;
             }
            a{
            color: #4BB340;
            font-size: 18px;
            display: inline-block;
            &:first-child{
             margin-right: 15px;
            color:#9773B2;
            }
          }
          }
          @media (max-width:650px) {
                width:100%;
                justify-content:space-between;
             }
             @media (max-width:480px) {
                width:100%;
                justify-content: center;
                display: flex;
             }


        }
        .dclub{
            display: flex;
            width: 284px;
            opacity: .5;
            align-items: center;
             @media (max-width:650px) {
                width:270px;
                justify-content:space-between;
                order:-1;
             }
             @media (max-width:480px) {
               margin-top: 1rem;
               margin-bottom: 1rem;
             }
            .dimg{
                width: 130px;
                margin-right: 20px;
                img{
                    width: 100%;
                }
            }
            .dlink{
                margin-left: auto;
                width: calc(100% - 85px);
                @media (max-width:480px) {
                width: auto;
             }
                a{
                    color:#fff;
                    font-family: 'Proxima Nova Cn Rg';
                }
            }
        }
    }
}