.main-banner{
       @media (max-width:575px) {
                display: none;
            }
}

.jobs{
    width: 70%;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .one_job{
        line-height: 30px;
        margin-bottom: 5px;
        margin-top: 5px;
        h4{
            display: inline-block;
            font-size: 20px;
            margin: 0;
            padding: 0;
            line-height: 20px;
            color: #083753;
            border-bottom: 1px dashed #083753;
            &:hover{
                cursor: pointer;
            }
        }
        .hid_text{
            padding-left: 2rem;
            font-size: 16px;
            position: relative;
            padding-top: 10px;
            padding-bottom: 30px;
        }
    }
}


.banner{
     width: 100%;
    .banner_item{
     min-height: 532px;
     -webkit-background-size: cover;
     background-size: cover;
     background-position: center center;

    }
    .bane-desc{
        left: 21%;
        position: absolute;
        top: 3rem;
        z-index: 1000;
        padding: 1rem;
       /* background:rgba(255,255,255,.5);*/
        h1{
            font-family: 'Proxima Nova Condensed Bold'!important;
            font-size: 60px;
            text-transform: none;
            color:#fff;
            text-shadow: 2px 2px 0 $top;
            @media (max-width:991px) {
                font-size: 40px;
            }
            span{
                color:$span;
                font-family: 'Proxima Nova Condensed Bold';
                text-shadow: 2px 2px 0 #fff;
            }
        }
        .title{
            font-family: "Proxima Nova Condensed Bold" !important;
            font-size: 60px;
            text-transform: none;
            color: #fff;
            text-shadow: 2px 2px 0 #083753;
            line-height: 1.1;
        }
        .btn-z{
            margin-top: 50px;
            height: auto;
            overflow: hidden;
            z-index: 1000;
            a{
                display: inline-block;
                color:#fff;
                font-size: 18px;
                padding: 20px 35px;
                background: $buttons;
                width: auto;
            }
        }
    }
    .slick-dots{
        width: auto;
        bottom: 25px;
        left: 70px;
        li{
            width: 43px;
            height: 4px;
            background: rgba(255,255,255,.3);
            &.slick-active{
                background: #fff;
            }
        }
    }

    .banner_after{
        bottom: 0;
        left: 0;
        @media (max-width:1199px) {
            width: 400px;
            img{
                width: 100%;
            }
        }
    }
}
