
.breadcrumb{
    background: transparent;
    padding-top: 30px;
    @media (max-width:575px) {
        display: none;
    }
    li{
        a{
            color:#000;
        }
    }
}


header{
    background: $top;
    max-width: 1920px;
    margin: 0 auto;

    .top-block{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;


        .datas{
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        align-items:center;
        justify-content:space-between;
        padding: 15px 0 10px 0;
        @media (max-width:991px) {
            width: 100%;
        }
        @media (max-width:360px) {
           padding: 10px 0 0;
        }
        .adresses{
            color: #fff;
            font-size: 16px;
            width: auto;
            min-height: 73.55px;
            @media (max-width:1199px) {
              width: 39%;
            }
             @media (max-width:650px) {
              font-size: 15px;
            }
            @media (max-width:575px) {
              display: none;
            }
            .wrap{

                width: auto;
                padding: 0 15px;
                @media (max-width:991px) {
                  padding: 0;
                }
                div{

                    &:last-child{
                        margin-bottom: 0;
                        padding-top: 0;
                    }
                    display: flex;
                    margin-bottom: 10px;
                    align-items: center;
                    font-size: 14px;
                    @media (max-width: 1199px) {
                        font-size: 14px;
                    }
                    a{
                        color:#fff;
                    }
                    i{
                       padding-right: 10px;
                    }
                }

                .search{
                    margin-bottom: 0;
                    form{
                        position: relative;
                        display: flex;
                        width: 214px;
                        input{
                            background:transparent;
                           height: 25px;
                           border: 1px solid  rgba(255,255,255,.5);
                           font-size: 13px;
                           border-radius:0;
                           display: block;
                           width: 100%;
                           padding: 10px;
                           &::placeholder{
                            font-style: italic;

                           }
                        }
                        .zend_button{
                            padding: 0;
                            background:transparent;
                            position: absolute;
                            right:0;
                            top: 50%;
                            margin-top: -8px;
                            border: none;
                            opacity: .5;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }

            }
        }
        .callbacks{
            color: #fff;
            font-size: 14px;
            width: auto;
            display: flex;
            min-height: 73.55px;
            @media (max-width:1199px) {

              font-size: 14px;
            }
            @media (max-width:650px) {
              font-size: 15px;
            }
            @media (max-width:575px) {
              width: 50%;
            }

            @media (max-width:456px) {
              width: 60%;
              font-size: 14px;
            }
            @media (max-width:360px) {
              display: none;
            }
            .wrap{
                width: auto;
                padding: 0 15px 0 0px;
                @media (max-width:991px) {
                  padding: 0;
                  margin-left: auto;
                }
                @media (max-width:360px) {
                  margin-left: 0;
                }


                div{
                    display: flex;
                    margin-bottom: 10px;
                    margin-left: 28px;
                    align-items: center;
/*                    padding-top: 5px;*/
                    &:last-child{
                        margin-bottom: 0;
                        padding-top: 0;
                    }
                    i{
                       padding-right: 10px;
                       @media (max-width:456px){
                           padding-right: 5px;
                           line-height: 1;
                           font-size: 16px;
                       }
                        @media (max-width:322px) {
                            display: none;
                          }
                    }
                    a{
                    &.tel{
                        border-bottom: 0;
                    }
                        color: #fff;
                        border-bottom: 1px dashed #fff;
                         @media (max-width:456px) {
                            margin-left: 0;
                          }
                    }
                }
              .soc{
                display: flex;
                width: 90%;
                @media (max-width: 575px) {
                    display: none;
                }
                a{
                    border-bottom: none;
                    font-size: 18px;
                }
              }
            }
            // .soc{
            //     display: flex;
            //     flex-direction: column;
            //     color: #fff;
            //     margin-left: auto;
            //     margin-right: 15px;
            //     font-size: 17px;
            //     justify-content:center;
            //      @media (max-width:650px) {
            //   margin-right: 0;
            // }
            //      @media (max-width:360px) {
            //       margin-left: 20px;
            //     }
            //     a{
            //         color: #fff;
            //         text-align: center;
            //     }
            //     .fa-facebook{
            //         margin-bottom: 5px;
            //     }
            //     .fa-vk{
            //         margin-bottom: 5px;
            //     }
            // }

        }
        .brand{
            width: 31%;
            @media (max-width:1199px) {
              width: 22%;
            }
            @media (max-width:575px) {
              width: 35%;
            }
            @media (max-width:480px) {
              width: 50%;
            }
            @media (max-width:456px) {
              width: 40%;
            }
            @media (max-width:360px) {
              width:150px;
              margin:0 auto 1rem auto;
            }
            img{
                display: block;
                margin: 0 auto;
                @media (max-width:1199px) {
                width: 100%;
            }
                @media (max-width:575px) {
                max-width: 100%;
                width: unset;
            }
                @media (max-width:575px) {
                max-width: 100%;
                width: unset;
            }
                @media (max-width:360px) {
                width: 100%;
            }

            }
        }
    }
    .menuTop{
        width: 15%;
        display: flex;
        flex-direction:column;
        align-items:center;
        border-left: 1px solid #0e688d;
        border-right: 1px solid #0e688d;
        height: 112px;
        padding: 15px 0 10px 0;
        @media (max-width:992px) {
            display: block;
            text-align: center;
        }
        @media (max-width:991px) {
            display: none;
            text-align: center;
        }
        .menu_top{
            list-style: none;
            padding-left: 0;
            font-family: 'Comfortaa';
            margin-bottom: 0;
            height: 100%;
            display:flex;
            flex-direction:column;
            justify-content:center;

            li{

                &.submenuItem{
                    position: relative;
                    ul{
                        padding:0;
                        list-style: none;
                        position: absolute;
                        display: none;
                        background: rgba(8, 55, 83, .9);
                        width: 300px;
                        transform: translateX(-50%);
                        left: 50%;
                        top: 100%;
                        z-index: 1000;
                        border-bottom: 2px solid #0e688d;
                        @media (max-width:1100px) {
                            width: 200px;
                        }
                        li{
                            padding: 10px 0;
                            text-align: center;
                            border-bottom: 1px solid rgba(14, 104, 141, .3);
                            transition:all .4s;
                            a{
                                font-size: 16px;
                                font-family: 'Proxima Nova Cn Rg';
                            }
                            &:hover{
                                background: $top;
                            }
                        }
                    }
                }
                a{
                    font-size: 16px;
                    color: #fff;
                    @media (max-width: 1199px) {
                       font-size: 16px;
                    }
                }
            }
        }
    }
    }

}

  /*втоорое меню(основное)*/

  .fluid{
      background: $menu;
      @media (max-width:991px) {
          display: none;
      }
      #menu_header{
          display: none;
          list-style: none;
          padding-left: 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          font-family: 'Comfortaa';
          font-size: 16px;
          margin-bottom: 0;
          li{
              padding: 18px 0;

              a{
                  color: #fff;
              }
          }
      }
  }

/*переход на мобильную версию 991px*/
.mobile-menu{
    max-width: 991px;
    margin:0 auto;
    background: $menu;
    margin:0 auto;
    display: none;
    font-family: 'Comfortaa';
    @media (max-width:991px) {
        display: block;
    }
    @media (max-width:575px) {
                background: transparent;
            }

    .mobile-flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .mmenu{
            width: 33.3%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            text-align: center;
            color: #fff;
            padding: 1rem;
            border-right: 1px solid rgba(255,255,255,.2);
            position: relative;

            &.hide_btn{
                display: none;
                background: darken($menu,5%);
                a{
                    color:#fff;
                    display: block;
                }
                @media (max-width:575px) {
                    display: block;
                }
            }

            .fa-chevron-down{
                top: -1px;
                @media (max-width:575px){
                    color:rgba(255,255,255,.5);
                    font-size: 60%;
                    top: -2px;
                }
            }
            @media (max-width:575px) {
                width: 95%;
                background: $menu;
                margin-top: 2rem;
                order:2;
                border-right:none;
            }

            &:nth-of-type(2){
                @media (max-width:575px){
                    order:1;
                    border-right:none;
                }
            }
            &:last-of-type{
                border-right: none;
                @media (max-width:575px){
                    order:3;
                    border-right:none;
                }
            }
            span{
                display: block;
                cursor: pointer;

            }
            #menu_header{
                display: none;
                padding-left: 0;
                list-style: none;
                position: absolute;
                width:100%;
                height: auto;
                background: transparentize($menu,.1);
                left: 0;
                top:100%;
                z-index: 1000;

                 @media (max-width:575px){
                     z-index: 1000;
                 }
                li{
                    margin: 5px 0;
                    padding: 10px 0;

                    &:hover{
                        background:$menu;
                    }
                a{
                    color:#fff;
                    width: 100%;
                    display: block;
                }
            }}
            #menuTop{
                padding-left: 0;
                list-style: none;
                text-align: center;
                margin-bottom: 0;

                li{
                    &.submenuItem{


                        ul{
                            padding-left: 0;
                            list-style: none;
                             position: absolute;
                             width:100%;
                             height: auto;
                             left: 0;
                             background: transparentize($menu,.1);
                             top:100%;
                             display: none;
                             z-index: 1000;
                              @media (max-width:575px){
                                        z-index: 1000;
                                    }
                                li{
                                  margin: 5px 0;
                                  padding: 10px 0;

                                  &:hover{
                                    background:$menu;
                                }
                                  a{
                                      width: 100%;
                                      display: block;
                                  }
                                }
                        }
                    }
                a{
                    color:#fff;
                }
            }
        }
    }
}
}

