.pages{
    margin-top: 10rem;
    margin-bottom: 7rem;
    h2{
        margin-bottom: 5rem;
       }

       .pages_block{
           width: 95%;
           margin: 0 auto;
           display: flex;
           flex-wrap: wrap;
           border-top:9px solid #ced7dd;

           .page_item{
               width: 25%;
               box-sizing: border-box;
               color:#000;
               font-family: 'Proxima Nova Condensed Bold';
               border:1px solid #dae1e5;
               display: flex;
               flex-direction: column;
               align-items: center;
               justify-content: center;
               min-height:144px;
               overflow: hidden;
               position: relative;
               transition: all 0.5s ease 0s;
               &:hover{
                   background: $menu;
                   .page_item_img{
                       background: url(../img/link.svg) no-repeat center center;
                       -webkit-background-size: 35px;
                       background-size: 35px;
                       img{
                        transform: scale(-1);
                        position:relative;
                        opacity:0;
                       }
                   }
                   .page_item_title{
                       color:#fff;
                   }

               }
                @media (max-width:767px) {
                    width: 50%;
                }
                @media (max-width:415px) {
                    width: 100%;
                }
               .page_item_img{
                   width: 100%;
                   margin-bottom: 20px;
                   transition: all 0.5s ease 0s;

                   img{
                       display: block;
                       margin: 0 auto;
                       transition: all 0.5s ease 0s;
                   }
               }
               .page_item_title{
                   text-align: center;
                   font-size: 16px;
                   transition: all 0.5s ease 0s;
               }
           }
       }
}


/*contacts*/
main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
   margin:3rem 0;
   align-items: center;
  .avantis_img{
    width: 369px;
    padding: 1rem;
    background:#fff;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    img{
      width: 100%;
         }
  }
  .our_contacts{
    width: 48%;

  .adress{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
    .name{
      width: 100px;
      height: 50px;
      display: flex;
      align-items: center;
       font-family: 'Proxima Nova Condensed Bold';
       font-size: 18px;
       i{
        display: block;
        margin-right: 10px;
       }
    }
    .detail{
     font-size: 16px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 40px;
    }

    .name-social{
      width: 150px;
      height: 50px;
      display: flex;
      align-items: center;
      font-family: 'Proxima Nova Condensed Bold';
      font-size: 18px;
    }
    .soc-detail{
      display: flex;
      justify-content: space-between;
      padding-left: 40px;
      width: 130px;
      .soc-detail-item{
        width: 40px;
        img{
          width: 100%;
        }
      }
    }
  }
}
}


.map_box{
  margin-bottom: 3rem;
}

@media (max-width: 767px) {
  main{
  justify-content: center;
  .avantis_img{
    width: 50%;
    order:-1;
    img{
      width: 100%;
         }
  }
  .our_contacts{
    width: 100%;
    margin-top: 2rem;

    }
  }
}

/*PRICE page*/
.mb3rem{
  margin-bottom: 3rem;
}
.t_stomotologiya{
  margin-top: 3rem;
}
.search-container{
  .search_container{
    width: 260px;
    padding:1rem;
    background:rgba(12, 78, 118, .8);
    margin-bottom: 1rem;
    input{
      display: block;
      width: 100%;
      height: 30px;
      border-radius: 0;
      border: none;
      font-size: 14px;
      &::placeholder{
        font-size: 14px;
      }
    }
    &.border{
      background:rgba(12, 78, 118, .5);
    position: fixed;
    margin:0 auto;
    top: 0;
    }
  }
}
 
.table-bordered{
      /*&:nth-child(even){
        background:#f2f2f2;
      }*/

      tbody{  
    .title_table{
      background: #0c4e76;
      color: #fff;
      font-weight: bold;
      text-transform: uppercase;
    }
    .title2{
      text-align: left !important;
    }
    tr{
      border: 1px solid $menu;
      td{
          border: 1px solid $menu;
          strong{
            color: #0c4e76;
          }
          &.blue {
            background-color: #0c4e76;
            color: #fff;
          }
          &:last-child{
            text-align: center;
            width: 15%;
            p{
              margin-top: 10px;
            }
          }
        }
      &:nth-child(even){
        background:transparentize($menu,.8);
        border: 1px solid $menu;
      }
    }
  }
}


 .btn-y{
    height: auto;
    overflow: hidden;
    z-index: 1000;
    a{
        display: inline-block;
        color:#fff;
        font-size: 18px;
        padding: 20px 35px;
        background: $buttons;
        width: auto;
    }
}

/*Наши Работы*/
.works{
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .cocoen_wrap{
    width: 49%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
  .detail{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color:#0C4E76;
    font-size: 16px;
     font-family: 'GothamPro-Bold';
     border-bottom: 1px solid #ddd;
  }
  }
}

/*search results page*/
.zend_form{
  margin-bottom: 3rem;
  form{
    display: flex;
    flex-wrap: wrap;
    #q{
      width: 250px;
      height: 35px;
      border:2px solid rgba(12, 78, 118,.5);
      border-radius: 0;
      display: block;
      margin-right: 5px;
    }
    .btn-search{
      background:$top;
      color:#fff;
      border: 2px solid rgba(12, 78, 118,.5);
      height: 35px;
    }
  }
}
.zend_head{
  span{
    font-family: 'GothamPro-Italic';
    border-bottom: 1px dashed rgba(12, 78, 118,.5);
  }
}

/*BLOG*/
.line-left{
    border-left: 3px solid #0C4E76;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.subtitle{
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #0c4e76;
}
.blog-page{
    font-size: 16px;
    h1{
        color: #0c4e76;
        font-size: 36px;
        font-weight: 700;
        text-transform: none;
    }
    ul,ol{
        padding-left: 20px;
    }
    .blog_contents-image{
        padding: 10px 0 20px 0;
        img{
            width: 100%;
        }
    }
    .blog_contents{

        .blog_contents-body{

        }
        .blog_contents-freebody{
            
        }
    }
}


/*страница услуг(карточка услуг)*/
.articles_wrap{
  h2{
    font-size: 30px;
    color:#204A64;
    margin-bottom: 15px;
  }
  .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media(max-width: 1200px){
        justify-content: space-around;
    }
    @media(max-width: 991px){
        justify-content: space-around;
        .articles-item{
            width: 330px;
        }
    }
    @media(max-width: 730px){
        .articles-item{
            width: 300px;
        }
    }
    .articles-item{
        max-width: 360px;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        box-shadow: 0px 17px 31px rgba(0, 0, 0, 0.07);
        margin-bottom: 2rem;
        .articles-item__image{
            img{
                width: 100%;
            }
        }
        .articles-item__content{
            padding: 15px;
            .item__content-title{
                a{
                    color: #0C4E76;
                    font-weight: 700;
                    font-size: 22px;
                    font-family: Roboto Condensed, sans-serif;
                    letter-spacing: unset;
                }
                padding-bottom: 10px;
                border-bottom: 1px solid #DFE3E7;                    
            }
            .item__content-short{
                padding: 15px 0;
            }
            .item__content-more{
                a{color: #0C4E76;}
            }
        }
    }
  }
}
.service_full_description{
  margin-top: 3rem;
  img {
    width: 100%;
  }
  p{
    text-indent: 15px;
  }
  .blockqoute{
    font-family: 'Proxima Nova Cn Rg';
    font-size: 18px;
  }
  .tcs{
    border-bottom:1px solid $top;
    color: $top;
  }
  ul{
    list-style: none;
    padding-left: 0;
    font-size: 16px;
    font-family: 'Proxima Nova Cn Rg';
    li{
      overflow: hidden;
      position: relative;
      padding: 5px 0;
      border-bottom: 1px dashed #eaeaea;
      &:last-child{
        border-bottom: 0;
      }
      &::before{
        content: "\2611";
        margin-right: 5px;
        color:$top;
        font-size: 18px;
      }
    }
    .cont{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      justify-content: space-between;
    }
  }
  h2{
    font-size: 30px;
    display: inline-block;
    border-bottom: 1px dashed transparentize($top,.8);
    color:$footer;
  }
  h3{
    font-family: 'Proxima Nova Condensed Bold';
    color: $menu;
  }
}
.price_tables{
  margin-top: 3rem;
    h2{
    font-size: 30px;
   display: flex;
   justify-content: center;
    color:$footer;
   span{
     border-bottom: 1px dashed transparentize($top,.8);
   }
  }
  table{
    width: 100%;
    tr{
      &:nth-child(even){
        background:transparentize($menu,.8);
      }
      td{
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid $menu;
      }
      th{
        padding: 8px;
        margin-bottom: 10px;
        border: 1px solid $menu;
        background:$menu;
        color:#fff;
      }
    }
  }
}

.team_in_pages{
  h2{
    font-size: 30px;
    color:$footer;
    margin-bottom: 1rem!important;
    text-align: center;
  }
}

.pages{
  h3{
     font-family: 'GothamPro-Bold';
     text-align: center;
  }
}


/*SITEMAP*/
#sitemap_head{

  span{
    position: relative;
     &::before{
    position: absolute;
    content:"";
    width: 250px;
    height: 2px;
    top: 100%;
    left: 50%;
    transform:translate(-50%,0);
    background:$top;
  }
       &::after{
    position: absolute;
    content:"";
    width: 20px;
    height: 20px;
    bottom: -50%;
    left: 50%;
    transform:translate(-50%,-15px) rotate(45deg);
    background:#fff;
    border: 1px solid $menu;
  }

  }

}
.sw{
  padding: 20px;
  box-shadow: 0 0 30px rgba(0,0,0,.2);
  margin-top: 3rem;
}
.sitemap_pages{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  list-style: none;
  font-size: 18px;
  .li_item_wrap{
    width: auto;
    .level_top{
       font-family: 'Proxima Nova Condensed Bold';
       color:$top;
       padding: 5px 0;
       margin-bottom: 10px;

       a{
        @extend .level_top;
        border-bottom: 1px dashed $top;
       }
       .site_map_box{
        padding-left: 10px;
        font-size: 16px;
        list-style: none;
        margin-top: 10px;
        li{
          padding: 5px 0;
          a{
            color: $menu;
          }
           ul{
            list-style: none;
            padding-left: 10px;
            margin-top: 10px;
            li{
               a{
            color: $menu;
          }
            }
           }
        }
       }
    }
  }
}
/*==============media===================*/

@media (max-width: 650px) {
  .service_full_description{
    .tcs{
      text-align: center;
    }
    ul{
       .cont{
        justify-content: center;
        .part{
          width: 70%;
        }
       }
     }
    }
}

@media (max-width: 575px) {
  .service_full_description{
    ul{
       .cont{
        justify-content: center;
        .part{
          width: 90%;
        }
       }
     }
    }
  main{
  .avantis_img{
    width: 80%;
  }
 }
}

@media (max-width: 360px) {
 main{
  .avantis_img{
    width: 100%;
    img{
      width: 100%;
         }
  }
  .our_contacts{
  .adress{
    .name{
      width: 80px;
      height: auto;
      font-size: 16px;
       i{
        margin-right: 5px;
       }
    }
    .detail{
     padding-left: 20px;
     font-size: 14px;
    }
  }
}
}
}


/* Page contacts */
.contact{
  max-width: 1024px;
  &__title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  &__info{
    display: flex;
    flex-wrap: wrap;
    &-item{
      padding-right: 40px;
      margin-bottom: 20px;
      width: 33%;
      min-width: 180px;
    }
  }
  .contact-info{
    &__title{
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 10px;
    }
    &__desc{
      font-size: 16px;
      font-weight: 400;
      a{
        text-decoration: none;
        color: #000;
      }
    }
  }
}

/* gallery */
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    &:hover{
      cursor: pointer;
    }
  }
}