/*reviews  отзывы*/

.rev-head{
    margin: 10rem 0 12rem 0;
      @media (max-width:575px) {
            text-align: center;
            margin-top: 7rem;
            margin-bottom: 5rem;
        }
}

.review-page{
    .review-page__items{
        border: 1px solid #D9DDE8;
        border-radius: 10px;
        background: #FFFFFF;
        padding: 24px 30px;
        margin-bottom: 25px;
        .review-page__info{
            .review-page__name{
                font-size: 22px;
                color: #373E44;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                span{
                    margin-right: 25px;
                }
                .date{
                    font-size: 14px;
                    color: #8B8B8B;
                }
            }
            .review-page__text{
                p{
                    padding-top: 15px;
                    color: #7A8086;
                    line-height: 24px;
                }
            }
        }
    }
}
.button-wrapper{
    display: flex;
    justify-content: center;
}

.review-pagination{
    text-align: center;
    .but-link{
        padding: 10px 20px;
        border: 2px solid #13699C;
        border-radius: 5px;
        color: #13699C;
        font-family: OpenSans, sans-serif;
        font-size: 16px;
    }
}


/* блок с формой*/

.review-form_wrap{
    padding-top: 20px;
    .review-form{
        h2{
            font-size: 36px;
        }
        .help-block{
            color: #a94442;
        }
    }
    #review-form{
        width: 50%;
        @media(max-width: 991px){
            width: 100%;
        }
        .row-input{
            display: flex;
            justify-content: space-between;
            @media(max-width: 600px){
                justify-content: unset;
                flex-flow: column;
            }
            label{
                display: none;
            }
            .input-wrapp{
                width: 48%;
                @media(max-width: 600px){
                    width: 100%;
                }
                input{
                    border: 1px solid #D9DDE8;
                    border-radius: unset;
                    height: 45px;
                }    
            }
        }
        .row-textarea{
            .politika-conf{
                padding: 5px 10px 10px 10px;
                font-family: 'Comfortaa';
                color: #ccc;
            }
            label{
                display: none;
            }
            textarea{
                height: 110px;
                border: 1px solid #D9DDE8;
                border-radius: unset;
            }
            .form-bot{
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                @media(max-width: 520px){
                    flex-flow: column;
                    align-items: unset;
                }
                .form-captcha{
                    margin-bottom: 0;
                    margin-right: 20px;
                    @media(max-width: 520px){
                        margin-bottom: 20px;
                    }
                }
                .form-button{
                    input{
                        padding: 10px 15px;
                        background: #13699C;
                        border-radius: 5px;
                        border: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.raiting-form{
    padding: 24px 29px;
    border: 1px solid #D9DDE8;
    margin-bottom: 40px;
    @media(max-width: 480px){
        .raiting-form__header{
            font-size: 18px !important;
            line-height: 18px !important;
        }
        .raiting-form__co{
            display: block;
            .raiting-list{
                margin-right: 0;
                .raiting-list__item{
                    margin: 0;
                }
            }
            .raiting-form__mes{
                padding: 20px 0;
                height: 20px;
            }
        }
    }
    .raiting-form__header{
        color: #333;
        font-size: 22px;
        line-height: 22px;
        font-family: Helvetica;
        font-weight: normal;
        padding: 0 0 10px;
    }
}
.raiting-form__co{
    display: flex;
    align-items: center;
    .raiting-form__mes{
        height: 20px;
        color: #7A8086;
    }
    .raiting-list{
        display: flex;
        margin-right: 25px;
        .raiting-list__item{
            margin: 0 10px 0 0;
            width: 46px;
            height: 42px;
            background:url(../img/icon/stars.png) no-repeat 0 0;
            &.active{
                background:url(../img/icon/stars.png) no-repeat -1px -59px;
            }
        }
        &.raiting-list-form{
            &:not(.no-hover){
                &:hover{
                    cursor: pointer;
                    .raiting-list__item{
                        background:url(../img/icon/stars.png) no-repeat 0 -118px;
                        &:hover{
                            & ~ .raiting-list__item{
                                background:url(../img/icon/stars.png) no-repeat 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.review-box__raiting-preview{
    .raiting-list{
        display: flex;
        .raiting-list__item{
            margin: 0 5px 0 0;
            width: 20px;
            height: 18px;
            background:url(../img/icon/stars-min.png) no-repeat 0 0;
            &.active{
                background:url(../img/icon/stars-min.png) no-repeat 0px -21px;
            }
        }
    }
}

.review-link{
    padding: 30px 0;
    border-top: 1px solid #D9DDE8;
    border-bottom: 2px solid #D9DDE8;
    margin-top: 40px;
    h2{
        font-size: 36px;
    }
    .review-link__flex{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 15px;
        .link__block{
            margin: 10px 35px 10px 0px;
            .link__flex-image{
                margin-bottom: 10px;
            }
            .link__flex-title{
                text-decoration: underline;
                color: #13699C;
                &:after{
                    padding-left: 5px;
                    content: url("/img/icon/arrow-right.svg");
                }
            }
        }
    }
}