.toggler_service{
    display: none;
    @media (max-width: 991px) {
        display: flex;
    }
    .toggler_box{
        width: 40px;
        height: 40px;
        position: relative;
        margin-left: auto;
        cursor:pointer;
        span{
            position: absolute;
            width: 100%;
            height: 4px;
            background:$menu;
            top: 50%;
            left: 50%;
            transform:translate(-50%,-50%);
            &::before{
                content:"";
                position: absolute;
                top: -8px;
                left: 0;
                width: 100%;
                height: 4px;
                background:$menu;
                transition: all .4s;
            }
            &::after{
                content:"";
                position: absolute;
                bottom: -8px;
                left: 0;
                width: 100%;
                height: 4px;
                background:$menu;
                transition: all .4s;
            }
            &.open{
                background:transparent;
                &::before{
                    top: 0;
                    transform:rotate(-135deg);
                }
                 &::after{
                    bottom: 0;
                    transform:rotate(135deg);
                }
            }
        }
    }
}

.service-block{
	position: sticky !important;
	top: 50px;
    padding-right: 0;
   @media (max-width:991px) {
       display: none;
       padding-right: 15px;
       position: absolute !important;
       z-index: 1000;
	   top: 0;
       width: 100%;
       left: 0;
   }
   @media (max-width:575px) {
       margin-top: 3rem;
   }
    #menu_service{
        padding-left: 0;
        padding-bottom: 30px;
        width: 293px;
        background: rgb(182, 202, 214);
        font-size: 15px;
        display: flex;
        flex-direction:column;
         @media (max-width:991px) {
      width: 100%;
       }
         @media (max-width:575px) {
      font-size: 14px;
       }

        li{
            display: block;
            padding: 8px 15px 8px 30px;
            position: relative;
            &::before{
                position: absolute;
                content:"\00BB";
                left:15px;
                color:#5e5959;
            }

            &.parent{
                order:-1;
                padding: 15px 15px 15px 30px;
                background: rgb(12, 78, 118);
                &::before{
                    color:#fff;
                }
                    a{
                        color:#fff;
                    }
                    &.submenuItem{
                        ul{
                            margin-bottom: 0;
                        }
                    }

            }

            a{
                color:#333;
                display: block;
            }

            &.submenuItem{

                ul{
                    display: none;
                    padding-left: 0!important;
                    background: #fff;
                    width: 293px;
                    position: relative;
                    left: -30px;
                    top: 15px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border-left: 2px solid rgb(182, 202, 214);
                    border-right: 2px solid rgb(182, 202, 214);
                    margin-bottom: 10px;
                      @media (max-width:991px) {
                        width: calc(100% + 45px);

                         }

                    li{

                        &:before{
                            content:"";
                        }
                        a{
                            color:#000;

                        }
                    }
                }

            }
             &.inside{
                      ul{
                    display: none;
                    padding-left: 0!important;
                    background: #fff;
                    width: 293px;
                    position: relative;
                    left: -30px;
                    top: 15px;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    border-left: 2px solid rgb(182, 202, 214);
                    border-right: 2px solid rgb(182, 202, 214);
                    margin-bottom: 10px;
                      @media (max-width:991px) {
                        width: calc(100% + 45px);

                         }

                    li{

                        &:before{
                            content:"";
                        }
                        a{
                            color:#000;

                        }
                    }
                }
                }

        }
    }
}

/*service-content*/

.service-content{
    padding-left: 0;
    font-family: 'Proxima Nova Cn Rg';
    font-size: 16px;
    line-height: 2;
      @media (max-width:991px) {
     padding-left: 15px;
       }
    h1{
        margin-top: 0;
        margin-bottom: 30px;
         @media (max-width:767px) {
        text-align: center;
        margin-top: 3rem;
    }
    }
}

/*gallery галерея(слайдер с фото)*/
.our_work{
    margin-top: 10rem;

    .our_work_item{
        position: relative;
        img{
     @media (max-width:767px) {
        display: block;
        margin:0 auto;

    }
        }

    }
    .slick-dots{
        bottom: -50px;
        li{
            background: #9db8c9;
            border-radius:50%;
            &.slick-active{
                background: #0b4f76;
            }
        }
    }
}

/*row-advants блок с преимуществами*/

.advents-head{
    margin-top: 12rem;
    margin-bottom: 7rem;
    @media (max-width:767px) {
        text-align: center;
    }
}
.row-advants{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    justify-content:space-between;
    .row-advants-item{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 152px;
        @media (max-width:767px) {
            width: 50%;
            margin-bottom: 2rem;
        }
        @media (max-width:535px) {
            width: 100%;

        }

        .item-img{
            margin-bottom: 30px;
            img{
                width: 152px;
            height: 141px;
            display: block;
            margin: 0 auto;
            }
        }
        .item-name{
            text-align: center;
            line-height: 1.5;
        }
    }
}

/*таблица с ценами*/
.price-head{
    margin-top: 10rem;
    margin-bottom: 5rem;
    @media (max-width:767px) {
            margin-top: 7rem;
            text-align: center;
        }
}

.prices-table{
    width: 100%;
    font-family: 'Proxima Nova Cn Rg';
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 7px rgba(0,0,0,.2);
    box-shadow: 0 0 7px rgba(0,0,0,.2);
    tr{
        &:hover{
            color:#315f81;
            cursor: pointer;
        }
                    &:first-child:hover{
                         color:unset;
                         cursor: default;
                    }


    }
    th{
        text-align: center;
        text-transform: uppercase;
        color:#fff;
        background: $menu;
        width: 70%;
        &:last-child{
            width: 30%;
            -ms-text-align-last: left;
            text-align-last: left;
        }
    }
    td{
        font-size: 15px;
        width: 70%;

        &:last-child{
            width: 30%;
        }
    }
}


/*страница с услугами*/
.services_page{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px;
    grid-row-gap: 2rem;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .s_item{
        padding: 1rem;
        .parent{
           display: flex;
           flex-wrap: wrap;
           align-items: center;
           margin-bottom: 20px;
           .parent_title{
            color: #232323;
            font-family: 'Proxima Nova Condensed Bold';
            font-size: 20px;
            margin-left: 15px;
            display: flex;
            align-items: center;
            width: calc(100% - 69px - 20px);
           }
        }
        ul{
            list-style: none;
            padding-left: 0;
            li{
                padding:5px 0;
                border-bottom: 1px dashed #ccc;

                &:last-child{
                    border-bottom: none;
                }
                a{
                    color:#0c4e76;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .services_page{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:20px;
    .s_item{
        .parent{
           .parent_title{
            font-size: 18px;
           }
        }
    }
}
}

@media (max-width:480px) {
    .services_page{
        grid-template-columns: repeat(1,1fr);
	    .s_item{
	        .parent{
	           .parent_title{
	                font-size: 18px;
	           }
	        }
	    }
	}
}


.service_full_description{
    ol{
        font-family: 'Proxima Nova Cn Rg';
    }
}