.review-form_wrap{
	#messageModal{
		.modal-dialog{
			border: unset !important;
			@media (min-width: 768px){
			    width: 600px;
			    margin: 5% auto;
			}
			.modal-content{
				padding: 25px 40px;
				border: unset;
				.modal-header{
					border-bottom: unset;
					padding: 5px 0;
					h4{
						font-size: 26px;
						color: #333;
					}
					.close{
						opacity: 1;
					}
				}
				.modal-body{
					padding: 0 20px 20px 0;
				}
				.modal-button{
					background: #13699C;
					border-radius: 5px;
					padding: 10px 20px;
					float: unset;
					opacity: 1;
					color: #fff;
					font-weight: 500;
					font-size: 14px;
					text-shadow: unset;
				}
			}
		}
	}
}